db = db.getSiblingDB('admin')
db.createUser({
    user: "{{ mongo_admin_user }}",
    pwd: "{{ mongo_admin_password }}",
    roles: [ { role: "userAdminAnyDatabase", db: "admin" },
             { role: "root", db: "admin" } ]
  })
